body{
	font-family: 'Open Sans', sans-serif;
	background: #FEFBFF;
}
.monobrow{
	height: 1.6rem;
	background-color: #282828;
	.mail{
		color: #fff;
		text-decoration: none;
	}
}
.header{
	padding: 2em;
	font-size: 20px;
	background: #fff;
	&-item {
		display: flex;
	}
	&-logo {
		margin: 0 2rem;
	}
	&-text {
		
	}
	
}

.string() {
	.section {
	&-item {
		font-family: 'Montserrat', sans-serif;	
		text-align: center;
		margin: 2.5rem;
	}

	&-title {
		color: #14161E;
		position: relative;
		text-transform: uppercase;
		font-size: 2em;
		text-align: center;
	}
	
	
	&-title:after,
	&-title:before {
		position: absolute;
		content: "";
		display: block;
		width: 22rem;
		border-bottom: 1px solid #949494;
	}

	&-title:after {
		top: 48%;
		right: 4rem;
	}
	&-title:before {
		top: 48%;
		left: 4rem;
	}
}


}
.main {
	background: url(../img/rer.jpeg) center no-repeat;
	background-size: cover;	
	min-height: 730px;

}	
	

.about{
	padding-top: 3rem;
	h3{
		font-size: 49px;
		font-weight: bold;
	}
	p{
		font-size: 26px;
	}
}
.world {
	margin: 5rem 0;
	.string();
	.section {
		&-title:after,
		&-title:before {
		position: absolute;
		content: "";
		display: block;
		width: 20rem;
		border-bottom: 1px solid #949494;
	}
		&-title:after {
			top: 48%;
			right: -1rem;
		}
		&-title:before {
			top: 48%;
			left: -1rem;
		}
}
}
.fotos-item {
	display: flex;
	justify-content: space-between;

	img {
		padding: 0 2rem;
	}
	h3 {
		margin: 1.5rem;
		text-align: center;
		font-size: 1.3rem;
		text-transform: uppercase;
		
	}

}

.services {
	.string();
	padding: 3rem;

	&-content{
	text-align: center;
		h3 {
			line-height: 3rem;	
		}
	}
}

.contacts {
	.string();
	.section {
		&-title:after,
		&-title:before {
		position: absolute;
		content: "";
		display: block;
		width: 25rem;
		border-bottom: 1px solid #949494;
	}
		&-title:after {
			top: 48%;
			right: 1rem;
		}
		&-title:before {
			top: 48%;
			left: 1rem;
		}
}
	background: #E9EDF0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 3rem;
	padding-bottom: 3rem;
	&-cart{

	}
	h2 {
		text-transform: uppercase;
		padding: 3rem;
		text-align: center;
	}
	&-salon {
		font-weight: 600;
		font-size: 1.5em;
	}
	&-adress {
		display: block;
		text-decoration: none;
		color:#000;
	}
	&-day {
		font-size: 1.2em;
			
	}
	a {
		display: block;
		font-size: 1.2em;
		text-decoration: none;
		color: #000;
	}
	
}
.footer{

	margin-bottom: 3rem;
}
.developer{
	background-color: #1C1D1E;
}
.me{
	padding-top: 1rem;
	font-size: 20px;
	color: #FFF;
	a{
		
		color: #BABDBF;
		text-decoration: none;
	}
}

.hprice{
	padding-bottom: 3rem;
}
.price_photo{
	text-align: center;
}
@media (max-width: 1400px) {
		.string();
		.section {
			&-title:after,
			&-title:before {
			position: absolute;
			content: "";
			display: block;
			width: 15rem;
			border-bottom: 1px solid #949494;
		}
			&-title:after {
				top: 48%;
				right: 1rem;
			}
			&-title:before {
				top: 48%;
				left: 1rem;
			}
	}
}
@media (max-width:576px) {
	.head{
		text-align: center;
	}
	.footer script{
		width: 10rem;
	}
	.dark{
		line-height:3rem;
		font-size:25px;
	}

	
}
@media (max-width:992px) {
	.main_content{
		margin-top: 5rem;
		p{
			padding-bottom: 7rem;	
		}

			h1{
				font-size: 50px;	
			}
	}
	.about{
		text-align: center;
	}
	.fotos{
		text-align: center;
	}
	.foot{
		.adres{
			font-size: 25px;
			line-height:3rem;
		}
	}
	.services{
		img{
		padding-top: 2.5rem;	
		}
	}
	.about h3{
		margin-top: 0 ;
		margin-bottom: 3rem ;
	}
	.about{
		padding: 2rem;	
	}
	.price_photo img{
		width: 330px;
	}
	.cart{
		margin-top: 1rem;
	}
}
@media (max-width:1200px){
	.price_photo img{
		width: 330px;
	}

}
