body {
  font-family: 'Open Sans', sans-serif;
  background: #FEFBFF;
}
.monobrow {
  height: 1.6rem;
  background-color: #282828;
}
.monobrow .mail {
  color: #fff;
  text-decoration: none;
}
.header {
  padding: 2em;
  font-size: 20px;
  background: #fff;
}
.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo {
  margin: 0 2rem;
}
.main {
  background: url(../img/rer.jpeg) center no-repeat;
  background-size: cover;
  min-height: 730px;
}
.about {
  padding-top: 3rem;
}
.about h3 {
  font-size: 49px;
  font-weight: bold;
}
.about p {
  font-size: 26px;
}
.world {
  margin: 5rem 0;
}
.world .section-item {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2.5rem;
}
.world .section-title {
  color: #14161E;
  position: relative;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}
.world .section-title:after,
.world .section-title:before {
  position: absolute;
  content: "";
  display: block;
  width: 22rem;
  border-bottom: 1px solid #949494;
}
.world .section-title:after {
  top: 48%;
  right: 4rem;
}
.world .section-title:before {
  top: 48%;
  left: 4rem;
}
.world .section-title:after,
.world .section-title:before {
  position: absolute;
  content: "";
  display: block;
  width: 20rem;
  border-bottom: 1px solid #949494;
}
.world .section-title:after {
  top: 48%;
  right: -1rem;
}
.world .section-title:before {
  top: 48%;
  left: -1rem;
}
.fotos-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.fotos-item img {
  padding: 0 2rem;
}
.fotos-item h3 {
  margin: 1.5rem;
  text-align: center;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.services {
  padding: 3rem;
}
.services .section-item {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2.5rem;
}
.services .section-title {
  color: #14161E;
  position: relative;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}
.services .section-title:after,
.services .section-title:before {
  position: absolute;
  content: "";
  display: block;
  width: 22rem;
  border-bottom: 1px solid #949494;
}
.services .section-title:after {
  top: 48%;
  right: 4rem;
}
.services .section-title:before {
  top: 48%;
  left: 4rem;
}
.services-content {
  text-align: center;
}
.services-content h3 {
  line-height: 3rem;
}
.contacts {
  background: #E9EDF0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 3rem;
  padding-bottom: 3rem;
}
.contacts .section-item {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2.5rem;
}
.contacts .section-title {
  color: #14161E;
  position: relative;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
}
.contacts .section-title:after,
.contacts .section-title:before {
  position: absolute;
  content: "";
  display: block;
  width: 22rem;
  border-bottom: 1px solid #949494;
}
.contacts .section-title:after {
  top: 48%;
  right: 4rem;
}
.contacts .section-title:before {
  top: 48%;
  left: 4rem;
}
.contacts .section-title:after,
.contacts .section-title:before {
  position: absolute;
  content: "";
  display: block;
  width: 25rem;
  border-bottom: 1px solid #949494;
}
.contacts .section-title:after {
  top: 48%;
  right: 1rem;
}
.contacts .section-title:before {
  top: 48%;
  left: 1rem;
}
.contacts h2 {
  text-transform: uppercase;
  padding: 3rem;
  text-align: center;
}
.contacts-salon {
  font-weight: 600;
  font-size: 1.5em;
}
.contacts-adress {
  display: block;
  text-decoration: none;
  color: #000;
}
.contacts-day {
  font-size: 1.2em;
}
.contacts a {
  display: block;
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
}
.footer {
  margin-bottom: 3rem;
}
.developer {
  background-color: #1C1D1E;
}
.me {
  padding-top: 1rem;
  font-size: 20px;
  color: #FFF;
}
.me a {
  color: #BABDBF;
  text-decoration: none;
}
.hprice {
  padding-bottom: 3rem;
}
.price_photo {
  text-align: center;
}
@media (max-width: 1400px) {
  .section-item {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 2.5rem;
  }
  .section-title {
    color: #14161E;
    position: relative;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
  }
  .section-title:after,
  .section-title:before {
    position: absolute;
    content: "";
    display: block;
    width: 22rem;
    border-bottom: 1px solid #949494;
  }
  .section-title:after {
    top: 48%;
    right: 4rem;
  }
  .section-title:before {
    top: 48%;
    left: 4rem;
  }
  .section-title:after,
  .section-title:before {
    position: absolute;
    content: "";
    display: block;
    width: 15rem;
    border-bottom: 1px solid #949494;
  }
  .section-title:after {
    top: 48%;
    right: 1rem;
  }
  .section-title:before {
    top: 48%;
    left: 1rem;
  }
}
@media (max-width: 576px) {
  .head {
    text-align: center;
  }
  .footer script {
    width: 10rem;
  }
  .dark {
    line-height: 3rem;
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  .main_content {
    margin-top: 5rem;
  }
  .main_content p {
    padding-bottom: 7rem;
  }
  .main_content h1 {
    font-size: 50px;
  }
  .about {
    text-align: center;
  }
  .fotos {
    text-align: center;
  }
  .foot .adres {
    font-size: 25px;
    line-height: 3rem;
  }
  .services img {
    padding-top: 2.5rem;
  }
  .about h3 {
    margin-top: 0 ;
    margin-bottom: 3rem ;
  }
  .about {
    padding: 2rem;
  }
  .price_photo img {
    width: 330px;
  }
  .cart {
    margin-top: 1rem;
  }
}
@media (max-width: 1200px) {
  .price_photo img {
    width: 330px;
  }
}
