body {
  font-family: 'Open Sans', sans-serif;
}
.siren {
  color: #fff;
}
main {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/rer.jpeg) center no-repeat;
  background-size: cover;
  min-height: 730px;
}
header {
  padding-top: 2em;
  font-size: 20px;
  color: #fff;
}
.logo {
  text-align: center;
}
.main_content {
  margin-top: 10rem;
  text-align: center;
  color: #fff;
}
.main_content h1 {
  font-size: 68px;
}
.main_content p {
  padding-top: 3rem;
  line-height: 3rem;
  font-size: 30px;
}
.second {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.about {
  padding-top: 3rem;
}
.about h3 {
  font-size: 49px;
  font-weight: bold;
}
.about p {
  font-size: 26px;
}
.fotos {
  display: inline-block;
}
.fotos img {
  margin: 6px;
  padding: 0;
}
.service {
  background-color: #F5F5F5;
  padding-top: 2rem;
  padding-bottom: 6rem;
}
.services {
  text-align: center;
}
.services h3 {
  line-height: 3rem;
}
.light {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
}
.dark {
  font-size: 35px;
  display: block;
  text-decoration: none;
  color: #000;
}
.foot {
  line-height: 5rem;
}
.footer {
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.developer {
  background-color: #DFE5E7;
}
.me {
  padding-top: 1rem;
  font-size: 20px;
}
.me a {
  color: #3377E4;
  text-decoration: none;
}
.abaut {
  margin-bottom: 4rem;
}
.foot p {
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 42px;
  margin-top: 3rem;
  text-align: center;
}
.hprice {
  padding-bottom: 3rem;
}
.price_photo {
  text-align: center;
}
@media (max-width: 576px) {
  .head {
    text-align: center;
  }
  .footer script {
    width: 10rem;
  }
}
@media (max-width: 992px) {
  .main_content p {
    padding-bottom: 7rem;
  }
  .main_content h1 {
    font-size: 50px;
  }
  .about {
    text-align: center;
  }
  .fotos {
    text-align: center;
  }
  .foot .adres {
    font-size: 32px;
  }
  .services img {
    padding-top: 2.5rem;
  }
  .about h3 {
    margin-top: 0 ;
    margin-bottom: 3rem ;
  }
  .about {
    padding: 2rem;
  }
  .price_photo img {
    width: 330px;
  }
}
@media (max-width: 1200px) {
  .price_photo img {
    width: 330px;
  }
}
