body {
  font-family: 'Open Sans', sans-serif;
}
.monobrow {
  height: 1.6rem;
  background-color: #40444C;
}
.monobrow .mail {
  color: #fff;
  text-decoration: none;
}
.header {
  padding: 2em;
  font-size: 20px;
  background: #fff;
}
.header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo {
  margin: 0 2rem;
}
.header a {
  position: absolute;
  top: 11%;
  right: 30%;
  font-size: 1em;
  font-weight: 600;
  color: #8A8B8A;
  text-decoration: none;
}
.header-address {
  line-height: 2;
  cursor: pointer;
  font-size: .875em;
  color: #8A8B8A;
}
.main {
  background: url(../img/rer.jpeg) center no-repeat;
  background-size: cover;
  min-height: 730px;
}
.services {
  padding: 3rem;
}
.services .section-wrap {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2.5rem;
}
.services .section-title {
  color: #14161E;
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}
.services .section-title:before,
.services .section-title:after {
  content: "";
  position: absolute;
  top: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  height: 1px;
  background: #8e8e8e;
  opacity: 0.35;
  border: solid #FFF;
  border-width: 0 50px;
}
.services .section-title:before {
  margin-left: -40%;
}
.services .section-title:after {
  margin-right: -37%;
}
.services-content {
  text-align: center;
}
.services-content h3 {
  margin-top: 1rem;
  line-height: 1.5;
}
.services-block {
  padding: 1rem;
}
.beauty {
  margin: 5rem 0;
}
.beauty .section-wrap {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2.5rem;
}
.beauty .section-title {
  color: #14161E;
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}
.beauty .section-title:before,
.beauty .section-title:after {
  content: "";
  position: absolute;
  top: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  height: 1px;
  background: #8e8e8e;
  opacity: 0.35;
  border: solid #FFF;
  border-width: 0 50px;
}
.beauty .section-title:before {
  margin-left: -40%;
}
.beauty .section-title:after {
  margin-right: -37%;
}
.fotos-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fotos-item img {
  padding: 0 2rem;
}
.fotos-item h5 {
  margin-top: 1rem;
  margin-left: 2rem;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}
.contacts {
  background: #E9EDF0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 2;
  padding-bottom: 3rem;
}
.contacts .section-wrap {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 2.5rem;
}
.contacts .section-title {
  color: #14161E;
  position: relative;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}
.contacts .section-title:before,
.contacts .section-title:after {
  content: "";
  position: absolute;
  top: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 40%;
  height: 1px;
  background: #8e8e8e;
  opacity: 0.35;
  border: solid #FFF;
  border-width: 0 50px;
}
.contacts .section-title:before {
  margin-left: -40%;
}
.contacts .section-title:after {
  margin-right: -37%;
}
.contacts h2 {
  text-transform: uppercase;
  padding: 3rem;
  text-align: center;
}
.contacts-salon {
  font-weight: 600;
  font-size: 1.5rem;
}
.contacts-address {
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
}
.contacts a {
  margin-right: 3rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
}
.contacts-inst {
  display: inline-block;
}
.footer {
  background-color: #1C1D1E;
}
.footer-me {
  padding: 1rem;
  font-size: 20px;
  color: #FFF;
}
.footer-me a {
  color: #BABDBF;
  text-decoration: none;
}
@media (max-width: 1400px) {
  .header a {
    position: absolute;
    right: 20%;
  }
  .fotos img {
    padding: 0 2.5rem;
  }
}
@media (max-width: 1200px) {
  .header a {
    position: absolute;
    top: 5%;
    right: 10%;
  }
  .header span {
    display: none;
  }
  .monobrow {
    display: none;
  }
  .services .section-title:before {
    display: none;
  }
  .services .section-title:after {
    display: none;
  }
  .beauty .section-title:before {
    display: none;
  }
  .beauty .section-title:after {
    display: none;
  }
  .contacts .section-title:before {
    display: none;
  }
  .contacts .section-title:after {
    display: none;
  }
  .fotos-item {
    margin-left: 5rem;
  }
  .fotos-item h5 {
    margin-top: 1rem;
    margin-left: -5rem;
  }
}
@media (max-width: 992px) {
  .header a {
    display: none;
  }
  .fotos {
    text-align: center;
  }
  .fotos-item {
    margin-left: 0rem;
  }
  .fotos-item h5 {
    margin: 1rem;
  }
  .contacts .section-title {
    padding-top: 2rem;
  }
  .contacts h2 {
    padding: 0;
  }
}
@media (max-width: 770px) {
  .header {
    text-align: center;
  }
  .header span {
    display: block;
  }
  .header a {
    display: none;
  }
  .header-text p {
    display: none;
  }
  .header-logo {
    display: block;
    margin: 1rem auto;
  }
}
@media (max-width: 576px) {
  .contacts-address {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  .fotos {
    padding: 0;
  }
  .fotos-item img {
    width: 320px;
    height: 250px;
  }
}
@media (max-width: 360px) {
  .services .section-title {
    font-size: 1.8rem;
  }
  .beauty .section-title {
    font-size: 1.8rem;
  }
  .contacts .section-title {
    font-size: 1.8rem;
  }
}
